# Dependencies
pytz~=2023.3

# Jupyter Lite
jupyterlite-core==0.4.0b1
jupyterlab~=4.2.3

# Pyodide kernel
jupyterlite-pyodide-kernel==0.4.0b0

# JupyterLab: guided tour
jupyterlab-tour~=4.0.0
# JupyterLab: dark theme
jupyterlab-night~=0.4.6
# JupyterLab: auto-run cells on notebook launch
# FIXME: not compatible with JupyterLab 4.0
# jupyterlab_autorun_cells
# JupyterLab: import files from URLs
jupyterlab-open-url-parameter~=0.3.0
# JupyterLite: import a GitHub repo from its URL
litegitpuller~=0.1.1
# JupyterLab: read-only access to GitHub repos through an additional file browser
# FIXME: makes creating new notebooks difficult, as the read-only repo gets priority
# jupyterlab-github~=4.0.0

# Python: ipywidget library for Jupyter notebooks
ipywidgets>=8.0.0,<9
# Python: ipyevents library for Jupyter notebooks
ipyevents>=2.0.1
# Python: interative Matplotlib library for Jupyter notebooks
ipympl>=0.9.3

# Python: ipyfilite library for file upload in JupyterLite Pyodide notebooks
ipyfilite>=0.1.27
