# Jupyter Lite
jupyterlite-core~=0.7.0
jupyterlab~=4.5.0

# Pyodide kernel
jupyterlite-pyodide-kernel~=0.7.0

# JupyterLite terminal with /drive access
# FIXME: currently requires the service worker
#        blocked on https://github.com/jupyterlite/terminal/issues/32
# jupyterlite-terminal==0.1.3

# JupyterLite and JupyterLab: create a fresh session directory
a-jupyterlite-session~=0.2.0
a-jupyterlab-session~=0.2.0

# JupyterLite: override config settings with URL query parameters
a-jupyterlite-query-config~=0.2.0

# JupyterLab: guided tour
jupyterlab-tour~=4.0.0
# JupyterLab: dark theme
jupyterlab-night~=0.5.0
# JupyterLab: import files from URLs
jupyterlab-open-url-parameter~=0.3.0
# JupyterLite: import a GitHub repo from its URL
litegitpuller~=0.3.0
# JupyterLab: read-only access to GitHub repos through an additional file browser
# FIXME: makes creating new notebooks difficult, as the read-only repo gets priority
#        blocked on https://github.com/jupyterlab/jupyterlab/issues/15629
# jupyterlab-github~=4.0.0
# JupyterLab: spreadsheet editor (csv/tsv)
jupyterlab-spreadsheet-editor~=0.7.2
# JupyterLab: extend markdown rendering
jupyterlab-myst~=2.4.2
# JupyterLab: view a notebook as a slideshow
jupyterlab-slideshow~=0.3.2

# Python: ipywidget library for Jupyter notebooks
ipywidgets~=8.1.0
# Python: ipyevents library for Jupyter notebooks
ipyevents~=2.0.0
# Python: interative Matplotlib library for Jupyter notebooks
ipympl~=0.9.0

# Python: ipyfilite library for file upload in JupyterLite Pyodide notebooks
ipyfilite>=0.1.30
